@model AllMusicAndAllGroupAndAllGenreViewModel

<!-- !!! Перенести изменения из AllGroup, AllGenre -->

<div class="container">
    <div class="row">
        <ul class="list-group">

            <!-- Список ID жанров -->
            <div class="btn-group dropend mt-2 mb-2 col-6">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Список ID жанров
                </button>

                <ul class="dropdown-menu">
                    @foreach (var item in Model.AllGenre)
                    {
                        <li><a class="dropdown-item" href="~/Home/Category/@item.Id">@item.Id - @item.Name</a></li>
                    }
                </ul>
            </div>

            <!-- Список ID групп/исполнителей -->
            <div class="btn-group dropend mt-2 mb-3 col-6">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Список ID групп/исполнителей
                </button>

                <ul class="dropdown-menu">
                    @foreach (var item in Model.AllGroup)
                    {
                        <li><a class="dropdown-item" href="~/Executor/Index/@item.Id">@item.Id - @item.Name</a></li>
                    }
                </ul>
            </div>

            <div class="accordion bg-dark mt-3 mb-3" id="accordion-addGenre"
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            @await Html.PartialAsync("AddMusic", new Music())
                        </button>
                    </h2>
                </div>
            </div>

            <p>Редактирование информации о музыке</p>
            @foreach (var item in Model.AllMusic)
            {
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-@item.Id">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@item.Id" aria-expanded="true" aria-controls="collapseOne">
                            @item.Name
                            <button class="delete-genre"><a href="~/DBRedaction/DeleteMusic/@item.Id">Удалить</a></button>
                        </button>
                    </h2>
                    <div id="collapse-@item.Id" class="accordion-collapse collapse" aria-labelledby="heading-@item.Id" data-bs-parent="#accordionExample">
                        @await Html.PartialAsync("MusicRedaction", item)
                    </div>
                </div>
            }
        </ul>
    </div>
</div>