@model GroupsViewModel

<div class="container">
    <div class="row">

        <h2 class="text-center mt-3 mb-3">@ViewBag.Genre</h2>

        @foreach (MusicalGroup item in Model.AllGroups)
        {
    <div class="artist-card col-xl-3 col-md-6 col-sm-12 m-4">

        <img class="artist-img mt-3 mb-3" src="@item.Picture" alt="@item.Name" style="width:100%" /> <!-- !!! Вставить ссылку в картинку/карту ссылок --> <!-- !!! Затемнять наводя и показывать кнопку для проигрывания всех песен -->

        <h5 class="artist-name text-center">
            <a class="btn" asp-controller="Executor" asp-action="Index" asp-route-id="@item.Id">@item.Name</a>
        </h5>

        <p class="artist-description text-center mt-2">@item.Description</p>
    </div>
        }

    </div>
</div>